nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #fff;
  }

body{
    margin: 0px !important;
    background-color: #f2f2f2;
  }
.container{
    margin: 30px;
 }
tr{
    border: solid;
}
th{
    border: solid;
    padding: 5px;
}
td{
    border: solid;
    padding: 5px;
}
td img{
    width: 150px;
    height: 200px;
}